@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --archivo: 'Archivo', sans-serif;
    --poppins: 'Poppins', sans-serif;
    --white: #ffffff;
    --orange: #FF8C32;
    --blue: #011142;
    --f16: 1rem;
    --gray: #EEEEEE;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--archivo);
}
p{
    font-family:  var(--poppins);
    font-size:  var(--f16);
}
a{
    font-family:  var(--poppins);
    font-size:  var(--f16);
    color:  var(--white);
    text-decoration: none;
    &:hover{
        color: var(--orange);
    }
}
img{
    width: 100%;
}
.butn{
    position: relative;
    z-index: 1;
    &:hover{
        color: var(--white);
        border-color: var(--orange);
    }
    &::after{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: scaleX(0);
        transform-origin: 50% 100%;
        background-color: var(--orange);
        transition: all .4s;
        z-index: -1;
    }
    &:hover::after{
        transform: scaleX(1);
    }
}

.header{
    // background-color: var(--blue);
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 10;
    .collapse.navbar-collapse{
        justify-content: center;
    }
    .nav-link {
        margin-left: 1rem;
        color: var(--white);
        position: relative;
    }
    .nav-link.active,
    .nav-link:focus,
    .nav-link:hover {
        color: var(--orange);
    }
    .nav-link:last-child {
        border: 2px solid;
        margin-left: 2rem;
        z-index: 1;
    }
    .nav-link:hover:last-child {
        color: var(--white);
        border-color: var(--orange);
    }
}


.banner{
    // height: calc(100vh - 10px);
    height: 100%;
    background: url(../images/banner.jpg) no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    .row{
        padding-top: 10rem;
        align-items: center;
    }
    .banner-text {
        h1 {
            color: var(--white);
            font-weight: 700;
            font-size: 58px;    
            line-height: 63px;
            span{
                color: var(--orange);
            }
        }
        p{
            color: var(--white);
            margin: 1rem 0;
        }
        .butn{
            padding: 7px 15px;
            border: 2px solid;
            display: inline-block;
        }
    }
}

.map-section{
    background: url(../images/map-bg.png) no-repeat;
    background-size: 100%;
    padding: 92px 0;
    .row{
        position: relative;
        &::after, &::before{
            position: absolute;
            content: '';
            width: 15%;
            height: 34%;
            z-index: 1;
        }
        &::before{
            background: url(../images/down-arrow-icon.svg) no-repeat;
            right: 25%;
            top: -28%;
        }
        &::after{
            background: url(../images/up-arrow-icon.svg) no-repeat;
            left: 26%;
            bottom: -22%;
        }
    }
    .points{
        background: var(--blue);
        border-radius: 49px 0px;
        padding: 30px 10px;
        position: relative;
        img{
            width: 100px;
        }
        h2{
            font-weight: 800;
            font-size: 20px;
            line-height: 22px;
        }
        &::before {
            position: absolute;
            content: '';
            border: 2px solid var(--orange);
            width: 100%;
            height: 100%;
            top: 25px;
            left: 25px;    
            border-radius: 49px 0px;
            z-index: -1;
        }
        &::after {
            position: absolute;
            content: '';
            width: 40%;
            height: 5%;
            background: var(--orange);
            bottom: -9%;
            right: 50%;
            transform: translateX(63%);
            border-radius: 20px;
        }
    }    
}

.discover{
    padding: 38px 0;
    background-color: var(--blue);
    .discover-heading{
        font-weight: 800;
        font-size: 48px;
        line-height: 52px;
        margin-bottom: 28px;
        span{
            color: var(--orange);
        }
    }
    .read-more{
        color: var(--orange);
    }
    .discover-list {
        border: 2px solid;
        border-radius: 42px;
        overflow: hidden;
        img{
            transition: all .4s;
            border-radius: 42px;
        }
        h3{
            font-size: 25px;
            line-height: 27px;
        }
        &:hover img{
            transform: scale(1.2);
        }
    }
    .col-lg-3.col-md-6:nth-child(even) .discover-list {
        margin-top: 70px;
    }
}

.why-choose{
    position: relative;
    padding: 44px 0;
    &::before{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        min-height: 434px;
        background-color: var(--gray);
        z-index: -1;
    }
    h2{
        color: var(--blue);
        font-size: 48px;
        line-height: 52px;
        font-weight: 800;
        span{
            color: var(--orange);
        }
    }    
    p{
        color: var(--blue);
    }
    .choose{
        background: var(--white);
        border: 2px solid var(--white);
        box-shadow: -10px 10px 60px rgba(0, 0, 0, 0.29);
        border-radius: 42px;
        transition: all .4s;
        figure{
            position: relative;
            img{
                width: 100px;
            }
            .back{
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                opacity: 0;
                visibility: hidden;
            }
        }
        h3{
            font-size: 25px;
            line-height: 27px;
            font-weight: 700;
            color: var(--blue);
        }
        &:hover{
            box-shadow: none;
            background: var(--blue);            
            border: 2px solid var(--blue);
            .back{
                opacity: 1;
                visibility: visible;
            }
            h3{
                color: var(--orange);
            }
            p{
                color: var(--white);
            }
        }
    }
}
.footer{
    padding: 50px 0;
    background-color: var(--blue);
    color: var(--white);
    .footer-logo{
        width: 120px;
    }
    span {
        .icons{
            width: 30px;
        }
    }
}
.copyright{
    p{
        color: var(--blue);
    }
}


// RESPONSIVE
@media (max-width: 992px) {
    button:focus:not(:focus-visible) {
        box-shadow: none;
    }
    .navbar-collapse{
        background-color: var(--blue);
    }
    .navbar-nav{
        padding-bottom: 3rem;
    }
    .nav-link{
        margin-left: 0;
        text-align: center;
        min-width: 210px;
        margin: auto;
    }
    .nav-link:last-child{
        margin-left: 0;
        margin: auto;
    }
    .banner{
        background: var(--blue);
        .banner-text {
            text-align: center;
            h1 {
                font-size: 48px;
                line-height: 53px;
            }
        }
    }
    .navbar-toggler.collapsed .navbar-toggler-icon{
        background: url(../images/menu.svg) no-repeat;
    }
    .navbar-toggler .navbar-toggler-icon{
        background: url(../images/close.svg) no-repeat;
    }
    .map-section .row::after,
    .map-section .row::before {
        display: none;
    }  
    .discover .col-lg-3.col-md-6:nth-child(even) .discover-list {
        margin-top: 0;
    }
    .discover-list {
        margin-bottom: 50px;
    }
}

@media (max-width: 767px) {
    .map-section {
        .points::before {
            left: 6px;
        }
        .points::after {
            bottom: -10%;
            transform: translateX(50%);
        }
    }
}